/* 背景图修复样式 */
body {
    background: url("../image/background1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333;
}

.test {
    margin-top: 100px;
}

/* 鼠标指针 */
#g-pointer-1 {
    display: none;
}

/* 背景图 */
#bg {
    transform: scale(1.10);
    filter: blur(10px);
    transition: 0.3s;
}
